@import "tailwindcss";

@theme {
  --color-renrich-brown: #00338C;
  --color-renrich-gold: #02308E;
  --color-renrich-cream: #E6E2DD;
  --color-renrich-dark: #033187;
  --color-renrich-light: #DFE1E7;
  --font-poppins: 'Poppins', sans-serif;
  --font-playfair: 'Playfair Display', serif;
}
